<form #userForm="ngForm">
    <!--*ngIf="loading == numberOfLoading"-->
    <div class="animated fadeIn">
      <div class="row">
        <div class="card" style="width:100%">
          <div class="card-header">
            User
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    User Info
                  </div>
                  <div class="card-body">
  
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="u-Name">User Name</label>
                      <div class="col-md-8">
                        <input type="text" id="u-Name" required name="u-Name" class="form-control" placeholder="User Name.." 
                              
                               maxlength="50" />
                      </div>
  
                      <div class="col-md-1">
                        <span class="help-block"  style="color:red">*</span>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="f-Name">Full Name</label>
                      <div class="col-md-8">
                        <input type="text" id="f-Name"  class="form-control" placeholder="Full Name.."
                               maxlength="100" />
                      </div>
  
                      <div class="col-md-1">
                        <span class="help-block" *ngIf="fName.invalid" style="color:red">*</span>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-SyriatelId">Syriatel Id</label>
                      <div class="col-md-8">
                        <input type="text"  required class="form-control" placeholder="Syriatel Id"                               
                               maxlength="10">
                        <span class="help-block alert-danger" *ngIf="fSyriatelId.errors && fSyriatelId.errors.pattern">numbers only</span>
                      </div>
                      <div class="col-md-1">
                        <span class="help-block" *ngIf="fSyriatelId.invalid" style="color:red">*</span>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="f-Pass">Password</label>
                      
                      <div class="col-md-8">
                        <input type="password" id="f-Pass" required name="f-Pass" class="form-control" placeholder="Password.." [(ngModel)]="editor.Password"
                               #fPass="ngModel" [class.is-invalid]="(fPass.invalid && fPass.touched)|| (fPass.touched && weakPass) "
                               maxlength="100" (keyup)="calcWeakPass()" />
                        <span class="help-block alert-danger" *ngIf="fPass.touched && weakPass">must conssist of a number, an upper case and a lower case 6 characters</span>
                      </div>
  
                      <div class="col-md-1">
                        <span class="help-block" *ngIf="!editor.Password" style="color:red">*</span>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-Active">Is Active</label>
                      <div class="col-md-8">
  
                        <button type="button" class="btn"></button>
  
                      </div>
                    </div>
                  </div>
  
                  <alert type="danger" [hidden]="!userForm.invalid || !weakPass">
                    <strong>Please fill all required fields</strong>
                  </alert>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    User Roles
                  </div>
                  <div class="card-body">
  
                    <div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="hf-RoleName">Role</label>
                        <div class="col-md-9">
                          <select id="select" name="select" class="form-control" >
                            <option >
                            </option>
                          </select>
                          <span class="help-block">Please select Roles</span>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary" >Add</button>
                    </div>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Role</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let rr of editor.Roles; let i = index">
                          <td></td>
                          <td></td>
                          <td>
                            <button type="button" class="btn btn-secondary"  tooltip="remove"><i class="fa fa-ban"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
  
                  <div class="card-body">
                    User has no Roles
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" ></button>
            <button type="button" class="btn btn-secondary" >Back</button>
  
          </div>
        </div>
  
      </div>
  
    </div>
  </form>
